---
layout: "layouts/base.njk"
title: "هەڵگورد بەکر - گەشەپێدەری وێب"
slugOverride: "/"
description: "من هەڵگورد بەکرم لە عێراق دەژیم کارەکەم وەکو گەشەپێدەری ڕیاکت و وۆردپرێس، دڵخۆشم بە بەکار‌هێنانی نوێترین تەکنەلۆژیاکان بۆ درووستکردنی ماڵپەڕێکی سەردەمیانە."
---

{% include "sections/profile.njk" %} {% include "sections/experiences.njk" %} {% include
"sections/technologies.njk" %} {% include "sections/certificates.njk" %}
