{% macro subHeading(text, class="") %}
<h2
  class="{{
    class
  }} text-sm font-normal w-24 text-center py-1 rounded-xl border border-zinc-200 dark:border-zinc-900"
>
  {{ text }}
</h2>
{% endmacro %}
