---
layout: "layouts/base.njk"
title: "Hallgurd Bakr - Web developer"
slugOverride: "/"
description: "I'm Hallgurd Bakr living in Iraq. I work as a React and WordPress developer. I enjoy using the latest technologies to create a modern website"
---

{% include "sections/profile.njk" %} {% include "sections/experiences.njk" %} {% include
"sections/technologies.njk" %} {% include "sections/certificates.njk" %}
