{% from "macros/social.njk" import social %}

<footer class="mx-auto mt-10 w-full overflow-hidden bg-zinc-50 py-8 dark:bg-zinc-900/20">
  <nav class="mb-5" aria-label="{{ languages[page.lang].ariaFooterMenu }}">
    <ul class="flex items-center justify-center gap-x-3.5 text-base font-normal md:gap-x-6">
      {% for item in navigation[page.lang] %}
      <li>
        <a href="{{ item.url }}"
          class="text-zinc-500 transition duration-200 ease-in-out hover:text-zinc-800 dark:hover:text-zinc-100" {{
          helpers.getLinkActiveState(item.url,page.url)|safe }}>
          {{ item.text }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  <div lang="en" dir="ltr" class="flex flex-row items-center justify-center gap-x-3 text-zinc-500">
    <p class="text-sm">&copy; Hallgurd Bakr <time datetime="{% currentYear %}">{% currentYear %}</time></p>
    <span>|</span>
    <div class="flex items-center gap-5">
      {{ social(18, 18) }}
    </div>
  </div>
</footer>